#genre-podcaster {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1rem;
  margin: 2rem 1rem 2rem 0;
  text-align: left;
  > div {
    margin-bottom: 1.5rem;
  }
  hr {
    margin-top: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@media screen and (max-width: 768px) {
  #genre-podcaster {
    grid-template-columns: 1fr;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  #genre-podcaster {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
  }
}

#genre {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow-x: scroll;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: #fff transparent;
}

@media screen and (max-width: 600px) {
  #genre {
    gap: 1rem;
    width: 90%;
  }
}

#discover {
  font-family: 'Roboto', sans-serif;
  font-size: 2.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 2rem 0;
}

@media screen and (max-width: 600px) {
  #discover {
    padding: 1rem 0;
    font-size: 2.5rem;
  }
}

#recent {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0 0 1rem 0;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
