#side-item {
  display: flex;
  height: 2.2rem;
  padding: 0.6rem 0;
}

#side-icon {
  width: 2rem;
  height: 2rem;
  color: white;
}

#side-item span {
  color: white;
  align-self: center;
  padding: 0 0.75rem;
  letter-spacing: 1px;
  font-weight: 500;
}
