#side-item {
  display: flex;
  height: 3.5rem;
}

#side-item img:first-child {
  width: 2rem;
}

#side-item span {
  color: white;
  align-self: center;
  padding: 0 0.75rem;
  letter-spacing: 1px;
  font-weight: 500;
}
